{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Our Services</h1>
    <div class="row">
        {% for service in services %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{% static 'images/repair.png' %}" class="card-img-top" alt="{{ service.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.description }}</p>
                    <h6 class="text-primary">{{ service.price }}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
